.root {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  background-color: var(--light-color);
  font-size: 20px;
}

.headingName {
  font-size: 24px;
  font-weight: 700;
}
