.root {
  min-width: 130px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
}

.active {
  background-color: var(--dark-primary-color);
  color: var(--dark-color);
}

.light.default {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.dark.default {
  background-color: var(--gray-color);
  color: var(--light-color);
}
.light.clear {
  color: rgb(255, 84, 84);
}

.buttonShadow {
  position: relative;
}
.buttonShadow:hover {
  color: var(--dark-primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.themeToggle {
  display: inline-block;
  padding: 5px;
  border-radius: 8px;
}

.restaurantTab {
  min-width: 150px;
}