.headingName {
  font-size: 24px;
  font-weight: 700;
}

.headingWrapper {
  background-color: var(--light-color);
  padding: 10px;
  text-align: center;
}

.contentWrapper {
  padding: 10px 30px;
}

.dishWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
