.root {
  display: grid;
  gap: 10px;
  border: 1px solid var(--gray-color);
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.ratingWrapper {
  display: flex;
  align-items: center;
}
.rating{
  margin: 0px 4px;
  padding: 0 10px;
  text-align: center;
  height: 30px;              
  line-height: 30px;
  font-size: 20px;
}
.btnRating {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--light-gray-color);
  font-size: 28px; 

}

.buttonClear {
  margin-left: 20px;
}

.buttonClear:hover {
  background-color: var(--gray-color);
}
