.contentWrapper {
  display: grid;
  padding: 10px;
}
.headingWrapper {
  text-align: center;
  background-color: var(--primary-color);
  padding: 20px;
}

.headingName {
  font-size: 28px;
  font-weight: 700;
}

.tabWrapper {
  display: flex;
  gap: 30px;
  padding: 30px;
}
